In [2]:
import numpy as np 
import pandas as pd

In [46]:
df_train = pd.read_csv('C:/Workspace/ML/data/train.csv')
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [47]:
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [35]:
df_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [50]:
del df_train['PassengerId']
df_train.drop('Name', axis=1, inplace=True)
df_train.drop(['Ticket', 'Cabin'], axis=1, inplace=True)

In [ ]:
df_train['Age'].fillna(df_train['Age']==None)

In [40]:
df_X_train

     PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0              1       3    male  22.0      1      0   7.2500        S
1              2       1  female  38.0      1      0  71.2833        C
2              3       3  female  26.0      0      0   7.9250        S
3              4       1  female  35.0      1      0  53.1000        S
4              5       3    male  35.0      0      0   8.0500        S
..           ...     ...     ...   ...    ...    ...      ...      ...
886          887       2    male  27.0      0      0  13.0000        S
887          888       1  female  19.0      0      0  30.0000        S
888          889       3  female   NaN      1      2  23.4500        S
889          890       1    male  26.0      0      0  30.0000        C
890          891       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [45]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder().fit_transform(df_X_train)

ValueError: y should be a 1d array, got an array of shape (891, 8) instead.

In [44]:
df_X_train

     PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0              1       3    male  22.0      1      0   7.2500        S
1              2       1  female  38.0      1      0  71.2833        C
2              3       3  female  26.0      0      0   7.9250        S
3              4       1  female  35.0      1      0  53.1000        S
4              5       3    male  35.0      0      0   8.0500        S
..           ...     ...     ...   ...    ...    ...      ...      ...
886          887       2    male  27.0      0      0  13.0000        S
887          888       1  female  19.0      0      0  30.0000        S
888          889       3  female   NaN      1      2  23.4500        S
889          890       1    male  26.0      0      0  30.0000        C
890          891       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [28]:
from sklearn.preprocessing import MinMaxScaler
mm_scaler = MinMaxScaler()
df_train_scaled = mm_scaler.fit_transform(df_X_train)

ValueError: could not convert string to float: 'S'

In [ ]:
df_train['Survived'] = df_train.target

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV